documento_mi/document.lof  
documento_mi/document.lot  
documento_mi/document.pdf 
documento_mi/cap1.aux    
documento_mi/cap2.aux  
documento_mi/cap3.aux  
documento_mi/document.aux  
documento_mi/document.log  
documento_mi/document.out  
documento_mi/document.synctex.gz  
documento_mi/document.toc   
documento_mi/resumen.aux

